p{font-size:30px;}
p:first-of-type{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";}
p:ntf-of-type(2){font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";}
p:last-of-type{font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"}